body,html{
    margin: 0;
    padding: 0;
    height: 100%;
}
.container{
    background-color: aqua;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    background-color: antiquewhite;
    padding: 100px;
    text-align: center;
    border-radius: 20px;
    border-style:groove;
    border-color: palevioletred;
}
input{
    height: 30px;
    width: 100;
    background-color: aliceblue;
    border-color: palevioletred ;
}
button{
    width: 100px;
    height: 35px;
    background-color: aqua;
    border-radius: 20px;
    cursor: pointer;
    font-size: 19px;
    border-color: palevioletred ; 

}
button:hover{
background-color: antiquewhite;
}
